
.body {
  text-align: center;
  display: inline-block;
}
.intro {
  background-color: #b3ffe6;
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
}
.rest {
  background-color:#ffb3b3;
  color:#fff;
}
.recipes {
  background-color:#4d79ff;
  color:#fff;
}
img {
  width: 20%;
  display: block;
  margin: auto;
}
h1 {
  text-align: center;
  font-weight: bolder;
  color: #006622;
  text-shadow: 2px 2px 4px #99ffbb;
}
h2 {
  font-weight: bold;
}

ul {

}
