
.body {
  text-align: center;
  display: inline-block;
}
.intro {
  background-color: #4dffdb;
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
  margin: 5px;
  border: 3px solid black;
  padding: 12px;
}
.rest {
  background-color:#ffb3b3;
  color:#fff;
}
.recipes {
  background-color:#4d79ff;
  color:#fff;
}
img {
  width: 20%;
  display: block;
  margin: auto;
  border: 5px solid black;
}
h1 {
  text-align: center;
  font-weight: bolder;
  color: #006622;
  text-shadow: 2px 2px 4px #99ffbb;
}
h2 {
  font-weight: bold;
}
.column {
  width: 400px;
  float: left;
  margin: 12px;
  border: 3px dashed #4c0080;
  padding: 12px;
}
